<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8>
    <title>Swarm Mapping</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/">Swarm Mapping</a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
	<ul class="navbar-nav mr-auto">
	  <li class="nav-item active">
            <a class="nav-link" href="/track-robots">Track Robots</a>
	  </li>
	</ul>
      </div>
    </nav>
    <%= content %>
  </body>
</html>
